/*Working through examples as shown on Youtube: 'Flexbox Tutorial (CSS): Real Layout Examples', by LearnWebCode*/
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

main {
    padding: 10px;
}

div {
    margin-bottom: 10px;
}

.container {
    background-color: aliceblue;
    padding: 10px;
}

/*Flex form*/
.form-row {
    padding: 10px 0;
    display: flex;
}

.form-row label {
    
}

.form-row input {
    flex: 1;
}

/*flex main*/
.column-layout {
    display: flex;
    background-color: #dddddd;
}

.main-column {
    flex:3;
    order:2;
    
    padding: 10px;
}

.sidebar-one {
    flex:1;
    order:1;
    
    padding: 10px;
}

.sidebar-two {
    flex:1;
    order:3;
    padding: 10px;
}

/*Flex callouts*/
.call-outs-container {
    background-color: white;
}

.call-out {
    background-color: #eeeeee;
    box-sizing: border-box;
    padding: 10px;
    flex-basis: 30%;
}

@media (min-width: 900px){
    .call-outs-container{
    display: flex;
    justify-content: space-between;
        
    }
}

/*Figure this out.
call-out:nth-child(1){background-color: beige;}
call-out:nth-child(2){background-color: antiquewhite;}
call-out:nth-child(3){background-color: bisque;}
*/

/*Example 5: Center me plz*/
.banner {
    color: white;
    background-color: black;
    height: 400px;
    display: flex;
}

.center-me {
    font-size: 30px;
    margin: auto;
}

/*Example 6: Columns and Rows */
.equal-height-container {
    display: flex;
}

.first {
    flex: 1;
    padding: 20px;
    background-color: #eeeeee;
}

.second {
    flex: 1;
    display: flex;
    flex-direction: column;

}

.second-a {
    color:;
    background-color: lightseagreen;
    flex: 1;
        margin: 0;
}

.second-b {
    color: white;
    background-color: darkred;
    flex: 1;
        margin: 0;
}

/* Navigation bar using flex grid. */
nav {
    color: white;
    background-color: purple;
    display: flex;
    position: fixed;
    padding: 10px;
    width: 100%;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: orange;
}

.brand {
    flex: 1;
    margin: auto;
    padding-left: 0px;
}

.links {
    flex: 1;
    display: flex;
    margin: auto;
}

.nav-link {
    flex: 1;
    margin: auto;
}