body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

main {
    padding: 10px;
}

.container {
    background-color: aliceblue;
    padding: 10px;
}

/*Flex form*/
.form-row {
    padding: 10px 0;
    display: flex;
}

.form-row label {
    
}

.form-row input {
    flex: 1;
}

/*flex main*/
.column-layout {
    display: flex;
}

.main-column {
    flex:3;
    order:2;
}

.sidebar-one {
    flex:1;
    order:1;
}

.sidebar-two {
    flex:1;
    order:3;
}